 /* #Wrapper
   -------------------------------------------------------------------------- */
 body {
 	background-image: url(/assets/img/bg.jpg);
 	background-position: 50% 0%;
 	background-size: 120% auto;
 }
.st-Wrapper {
	
}
