 /* #Module1
   -------------------------------------------------------------------------- */
.st-qa_container {
	background-color: rgba(255,255,255,.8);
	margin: 1rem;
}

.st-qa_header {
	height: 20vh;
    padding: 1rem;
    margin-top: 1rem;
}

.st-qa_body {
	padding: 0 1rem;
}

.st-qa_footer {
	height: auto;
	padding: 1rem;
	background-color: #fb99ab;
}





.st-qa_title {
	font-size: 1.8rem;
}

.st-qa_question {
	font-size: 3rem;
}
.st-qa_answer {
	font-size: 1.3rem;
	background-color: #fff;
	margin: 1rem 0;
	padding: 1rem 0 1rem 1rem;
}



.st-qa_footer_link_back {

}
.st-qa_footer_number {

}

.st-qa_footer_link_next {

}


input[type=radio], input[type=checkbox] {
  display: none;
}

.radio, .checkbox {
  box-sizing: border-box;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  position: relative;
  display: inline-block;
  width: 70px;
  margin: 0 0 8px 0;
  padding: 12px 0px 52px 0px;
  border-radius: 8px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: #e2edd7;
    &:after {
      border-color: $color-icon;
    }
  }

  &:after {
    -webkit-transition: border-color 0.2s linear;
    transition: border-color 0.2s linear;
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    margin-top: 0px;
    margin-left: -18px;
    width: 36px;
    height: 36px;
    border: 2px solid #bbb;
    border-radius: 100%;
    content: '';
  }
}
.radio {
  &:before {
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-top: 6px;
    margin-left: -12px;
    background-color: $color-icon;
    border-radius: 100%;
    content: '';
    opacity: 0;
    input[type=radio]:checked + & {
      opacity: 1;
    }
  }
}
