 /* #Module1
   -------------------------------------------------------------------------- */
.st-qa_container {

}

.st-qa_header {
	height: 15vh;
}

.st-qa_body {
	height: 70vh;
}

.st-qa_footer {
	height: 15vh;
}





.st-qa_title {
	font-size: 0.8rem;
}

.st-qa_question {
	font-size: 1.2rem;
}



.st-qa_footer_link_back {

}
.st-qa_footer_number {

}

.st-qa_footer_link_next {

}