<% 
var data = jsonData;
%><!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="<%= data.description %>">
  <title><%= data.title %></title>
</head>
<body>
タイトルは<%= data.title %>
ディスクリプションは<%= data.description %>
</body>
</html>