<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="ページ4のディスクリプション">
  <title>ページ4のタイトル</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <link rel="stylesheet" href="../assets/css/common.css">
</head>
<body>
	<section class="st-Header st-qa_header st-qa_container">
		<div class="st-Grid st-Grid-medium">
		  <div class="st-Grid_Item st-Grid_Item-12of12Md">
		    <h1 class="st-qa_title">質問16</h1>
		  </div>
		</div>
		<div class="st-Grid st-Grid-medium">
		  <div class="st-Grid_Item st-Grid_Item-12of12Md">
		    <h2 class="st-qa_question">キレイの定義は？</h2>
		  </div>
	</section>

	<section class="st-Wrapper st-qa_body st-qa_container">
		</div>
		

		  			<div class="st-Grid st-Grid-medium">
					<div class="st-Grid_Item st-Grid_Item-8of12Md">
						<p class="st-qa_answer">タレントやモデルみたいな感じ</p>
					</div>
					<div class="st-Grid_Item st-Grid_Item-4of12Md">
						<form method="post" action="example.cgi">
						  	<input type="radio" name="answer16" value="answer0" id="radio0-1">
						  	<label for="radio0-1" class="radio">思う</label>
						  	<input type="radio" name="answer16" value="answer0" id="radio0-2">
						  	<label for="radio0-2" class="radio"> </label>
						  	<input type="radio" name="answer16" value="answer0" id="radio0-3">
						  	<label for="radio0-3" class="radio"> </label>
						  	<input type="radio" name="answer16" value="answer0" id="radio0-4">
						  	<label for="radio0-4" class="radio">思わない</label>
			  			</form>
					</div>
				</div>
		

		  			<div class="st-Grid st-Grid-medium">
					<div class="st-Grid_Item st-Grid_Item-8of12Md">
						<p class="st-qa_answer">心身ともにコンディションが良いこと</p>
					</div>
					<div class="st-Grid_Item st-Grid_Item-4of12Md">
						<form method="post" action="example.cgi">
						  	<input type="radio" name="answer16" value="answer1" id="radio1-1">
						  	<label for="radio1-1" class="radio">思う</label>
						  	<input type="radio" name="answer16" value="answer1" id="radio1-2">
						  	<label for="radio1-2" class="radio"> </label>
						  	<input type="radio" name="answer16" value="answer1" id="radio1-3">
						  	<label for="radio1-3" class="radio"> </label>
						  	<input type="radio" name="answer16" value="answer1" id="radio1-4">
						  	<label for="radio1-4" class="radio">思わない</label>
			  			</form>
					</div>
				</div>
		

		  			<div class="st-Grid st-Grid-medium">
					<div class="st-Grid_Item st-Grid_Item-8of12Md">
						<p class="st-qa_answer">自分らしいこと</p>
					</div>
					<div class="st-Grid_Item st-Grid_Item-4of12Md">
						<form method="post" action="example.cgi">
						  	<input type="radio" name="answer16" value="answer2" id="radio2-1">
						  	<label for="radio2-1" class="radio">思う</label>
						  	<input type="radio" name="answer16" value="answer2" id="radio2-2">
						  	<label for="radio2-2" class="radio"> </label>
						  	<input type="radio" name="answer16" value="answer2" id="radio2-3">
						  	<label for="radio2-3" class="radio"> </label>
						  	<input type="radio" name="answer16" value="answer2" id="radio2-4">
						  	<label for="radio2-4" class="radio">思わない</label>
			  			</form>
					</div>
				</div>
		

		  			<div class="st-Grid st-Grid-medium">
					<div class="st-Grid_Item st-Grid_Item-8of12Md">
						<p class="st-qa_answer">肌がキレイで健康であること</p>
					</div>
					<div class="st-Grid_Item st-Grid_Item-4of12Md">
						<form method="post" action="example.cgi">
						  	<input type="radio" name="answer16" value="answer3" id="radio3-1">
						  	<label for="radio3-1" class="radio">思う</label>
						  	<input type="radio" name="answer16" value="answer3" id="radio3-2">
						  	<label for="radio3-2" class="radio"> </label>
						  	<input type="radio" name="answer16" value="answer3" id="radio3-3">
						  	<label for="radio3-3" class="radio"> </label>
						  	<input type="radio" name="answer16" value="answer3" id="radio3-4">
						  	<label for="radio3-4" class="radio">思わない</label>
			  			</form>
					</div>
				</div>
		
	</div>
	</section>
	<section class="st-Footer st-qa_footer st-qa_container">
		<div class="st-Grid st-Grid-medium">
			<div class="st-Grid_Item st-Grid_Item-4of12Md st-qa_footer_link_back">
				<p><a href="/template/15.html">前の質問に戻る</a></p>
			</div>
			<div class="st-Grid_Item st-Grid_Item-4of12Md st-qa_footer_number">
				<p>残り4問です。</p>
			</div>
			<div class="st-Grid_Item st-Grid_Item-4of12Md st-qa_footer_link_next">
				<p><a href="/template/17.html">次の質問へ</a></p>
			</div>
		</div>
		<div class="st-Grid st-Grid-medium">
			<div class="st-Grid_Item st-Grid_Item-12of12Md">
				<ul class=" progress-indicator custom-complex">
				

			            
			            	<li class="completed">
				                <span class="bubble"></span>
				                <i class="fa fa-check-circle"></i>
				            </li>
			            

			        

			            
			            	<li class="completed">
				                <span class="bubble"></span>
				                <i class="fa fa-check-circle"></i>
				            </li>
			            

			        

			            
			            	<li class="completed">
				                <span class="bubble"></span>
				                <i class="fa fa-check-circle"></i>
				            </li>
			            

			        

			            
			            	<li class="completed">
				                <span class="bubble"></span>
				                <i class="fa fa-check-circle"></i>
				            </li>
			            

			        

			            
			            	<li class="completed">
				                <span class="bubble"></span>
				                <i class="fa fa-check-circle"></i>
				            </li>
			            

			        

			            
			            	<li class="completed">
				                <span class="bubble"></span>
				                <i class="fa fa-check-circle"></i>
				            </li>
			            

			        

			            
			            	<li class="completed">
				                <span class="bubble"></span>
				                <i class="fa fa-check-circle"></i>
				            </li>
			            

			        

			            
			            	<li class="completed">
				                <span class="bubble"></span>
				                <i class="fa fa-check-circle"></i>
				            </li>
			            

			        

			            
			            	<li class="completed">
				                <span class="bubble"></span>
				                <i class="fa fa-check-circle"></i>
				            </li>
			            

			        

			            
			            	<li class="completed">
				                <span class="bubble"></span>
				                <i class="fa fa-check-circle"></i>
				            </li>
			            

			        

			            
			            	<li class="completed">
				                <span class="bubble"></span>
				                <i class="fa fa-check-circle"></i>
				            </li>
			            

			        

			            
			            	<li class="completed">
				                <span class="bubble"></span>
				                <i class="fa fa-check-circle"></i>
				            </li>
			            

			        

			            
			            	<li class="completed">
				                <span class="bubble"></span>
				                <i class="fa fa-check-circle"></i>
				            </li>
			            

			        

			            
			            	<li class="completed">
				                <span class="bubble"></span>
				                <i class="fa fa-check-circle"></i>
				            </li>
			            

			        

			            
			            	<li class="completed">
				                <span class="bubble"></span>
				                <i class="fa fa-check-circle"></i>
				            </li>
			            

			        

			            
			            	<li class="completed">
				                <span class="bubble"></span>
				                <i class="fa fa-check-circle"></i>
				            </li>
			            

			        

			            
			            	<li>
				                <span class="bubble"></span>
				            </li>
			            

			        

			            
			            	<li>
				                <span class="bubble"></span>
				            </li>
			            

			        

			            
			            	<li>
				                <span class="bubble"></span>
				            </li>
			            

			        
		        </ul>
	        </div>
	        <div class="st-Grid_Item st-Grid_Item-12of12Md">
        		<p><a href="">トップページへ</a></p>
	        </div>
		</div>
	</section>

<script type="text/javascript" src="../assets/js/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="../assets/js/common.js"></script>
</body>
</html>
